@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.containerIframe {
  display: inline-block;
  padding: 10px;
  background: repeating-linear-gradient(
          45deg,
          #ff4d6d,
          #ff4d6d 20px,
          #ffffff 20px,
          #ffffff 40px,
          #ffb3c1 40px,
          #ffb3c1 60px,
          #ffffff 60px,
          #ffffff 80px
  );
  border-radius: 5px;
}
